<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NumericalCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NumericalCalculator.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en-GB</value>
            </setting>
            <setting name="chkMiPolish_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkMiEnglish_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkMiGraph_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkMiGraphPreviewScaling_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkMiGraphPreviewMoving_Checked" serializeAs="String">
                <value>True</value>
            </setting>
        </NumericalCalculator.Properties.Settings>
    </userSettings>
</configuration>